<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="dashboard">Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="dashboard">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-danger" (click)="logout()">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!--body -->
<div class="container my-5">
  <h1 class="mb-3"> All Users </h1>
  <table class="table" *ngIf="users && users.length > 0">
    <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
<!--      <th>Department</th>-->
<!--      <th>Email</th>-->
<!--      <th>Phone</th>-->
<!--      <th>Salary</th>-->
      <th> </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.username}}</td>
<!--      <td>{{user.firstName}}</td>-->
<!--      <td>{{employee.lastName}}</td>-->
<!--      <td>{{employee.Email}}</td>-->
<!--      <td>{{employee.phone}}</td>-->
<!--      <td>{{employee.salary}}</td>-->
<!--      <td><button mat-raised-button [routerLink]="['/employees','edit',user.id]">Edit Data</button></td>-->

    </tr>
    </tbody>

  </table>
  <p *ngIf="!users || users.length <= 0">No Employees Found</p>
</div>
<!--<button class="btn btn-danger" (click)=logout()> Log Out</button>-->
